.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
}

.fondo {
    height: 100%;
    width: 100%;
}

#container-i {
    width: 40vw;
    background: red;
}

#img-logo {
    width: 30vw;
    height: 150px;
    padding: 10px;
}

#img-fondo-login {
    width: 100%;
    height: 100%;
}
#mision{
    color: rgb(255, 255, 255);
    float: right;
}
#passwordHelpBlock {
    color: rgb(255, 255, 255);
}

#acceder-login {
    width: 90%;
    margin: 5px;
    justify-content: center;
}

.links {
    color: rgb(255, 255, 255);
}
.fondo-gris{
    background: rgba(137, 123, 123, 0.699);

}

body {
    margin: 0;
    padding: 0;
}