
body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
}


#container-i {
    width: 30vw;
    background: linear-gradient(to bottom, rgb(181,0,25), rgb(101,0,0));
}

#container-d {
    width: 70vw;
}

#img-logo {
    width: 30vw;
    height: 150px;
    padding: 10px;
}

#img-fondo-login {
    width: 70vw;
    height: 100vh;
}
#img-icono-uta {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;
    height: 200px;
}
#mision{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    text-align: right;
}
#passwordHelpBlock {
    color: rgb(255, 255, 255);
}

#acceder-login {
    width: 90%;
    margin: 5px;
    justify-content: center;
}

.links {
    color: rgb(255, 255, 255);
}
.fondo-gris{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    background: linear-gradient(to bottom, rgb(194,184,190), rgb(110,104,108));

}
.texto-justificado{
    margin: 15px;
    font-size: 24px;
    font-weight:500;
}
